# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development Mysql file
database/development.Mysql

#Run Migration
adonis migration:run

# Run npm i
npm i